@charset "utf-8";
@import url("./font/font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
p,
label,
a {
  /* line-height: 1.5em; */
  word-break: keep-all;
  margin: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f9fafb;
  height: auto;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 120px;
  line-height: 1;
}
.background {
  position: absolute;
  z-index: -1;
  width: 597px;
  right: 0px;
  top: -159px;
  position: fixed;
  opacity: 0.2;
  filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.112));
}
.background img {
  width: 100%;
}
/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  transition: all 0.1s ease 0s;
  transform: translateY(0px);
  width: 100%;
  height: 120px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  z-index: 99999;
}
.header.active {
  background: rgba(255, 255, 255, 0.5);
  transform: translateY(-28px);
}
/* 모바일헤더 */
.mobgnbwrap {
  right: -100vw;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 28px;
  padding-top: 86px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobgnbwrap.active {
  right: 0vw;
}
.mob-header {
  position: fixed;
  width: 100vw;
  height: 62px;
  top: 28px;
  background-color: #f9bb00;
}
.mob-gnb {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mob-gnb-list {
  display: flex;
  flex-direction: column;
}
.mob-gnb-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 14px;
}
.mob-gnb-list-title-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mob-gnb-list-title-left img {
  width: 45px;
  height: 38px;
}
.mob-gnb-list-title-left h1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
}
.mob-gnb-list-title-left.active h1 {
  color:#f9bb00;
}
.mob-gnb-list-title-right {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  overflow: hidden;
  font-size: 1px;
  transition: 0.2s;
}
.mob-gnb-list-title-right img {
  width: 100%;
}
.mob-gnb-list-detail {
  margin-top: 0px;
  transition: 0.2s;
  max-height: 0;
  overflow: hidden;
  padding: 0 24px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 16px;
  border: 0px solid #ffedc3;
  background-color: #fff7e5;
  gap: 24px;
}
.mob-gnb-list-detail.active {
  margin-top: 8px;
  opacity: 1;
  max-height: none;
  padding: 16px 24px;
  border: 1px solid #ffedc3;
}
.mob-gnb-list-detail h2 {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}
.mob-menu {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-left: 14px;
  padding-right: 14px;
}
.mob-menu-list {
  padding: 16px 32px;
  border: 0.5px solid #ebebeb;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.mob-menu-list h1 {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025rem;
  line-height: 1;
}
.mob-menu-list img {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  overflow: hidden;
  font-size: 1px;
  filter: grayscale(1);
  transform: rotate(-90deg);
}
/* 모바일헤더끝 */
.header-view {
  display: block;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
.header-sub {
  padding: 8px 24px 8px 24px;
  width: 100%;
}
.header-sub-menu {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.025rem;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}
.header-sub-menu-list {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.header-sub-menu-list a {
  color: #999999;
}
.header-sub-menu-list:hover a {
  color: #f9bb00;
}
.header-main {
  position: relative;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-main-left {
  position: absolute;
}
.header-main-left a {
  max-width: 113px;
  cursor: pointer;
  max-height: 20px;
  overflow: hidden;
  display: flex;
  overflow: visible;
  align-items: center;
}
.header-main-left img {
  width: 100%;
}
.header-main-center {
  margin: 0 auto;
}
.mobmenuopen {
  display: none;
}
.gnb {
  font-size: 20px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
  display: flex;
  flex-direction: row;
  gap: 88px;
  height: 90px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}
.gnb > li > a {
  color: #333333;
  transition: all 0.2s;
}
.gnb > li:hover > a {
  color: #f9bb00;
}
.lnbwrap {
  position: absolute;
  height: 0;
  top: 90px;
  transition: height 0.5s;
}
.gnb:hover .lnbwrap {
  display: block;
  backdrop-filter: blur(5px);
  transition: 0.2s;
  opacity: 1;
  width: 100vw;
  transform: scale(97%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999999;
  position: absolute;
  background: #4e5059dd;
  height: 228px;
  top: 90px;
}
.lnb {
  cursor: default;
  transition: 0.3s;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: 164px;
  z-index: 99999999;
  top: 112px;
}
.lnb li {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025rem;
  font-weight: 400;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lnb a {
  color: #ebebeb;
  transition: all 0.2s;
}
.lnb > li:hover > a {
  color: #f9bb00;
}
.gnb:hover .lnb {
  opacity: 1;
  max-height: 164px;
  overflow: visible;
  bottom: -188px;
}
@media (max-width: 1440px) {
  .header-view {
    max-width: 1112px;
  }
  .gnb {
    font-size: 17px;
    font-weight: 500;
    gap: 56px;
  }
}
@media (max-width: 744px) {
  body {
    padding-top: 62px;
  }
  .header {
    height: 90px;
  }
  .header-view {
    max-width: 704px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .header-sub {
    display: none;
  }
  .header-main {
    align-items: flex-end;
    padding: 0 14px 0 14px;
    padding-bottom: 19px;
    height: 90px;
  }
  .header-main-left {
    left: 50%;
    transform: translateX(-50%);
  }
  .header-main-center {
    display: none;
  }
  .mobmenuopen {
    display: flex;
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
    background: url("../img/menuBar.png");
    background-size: cover;
    cursor: pointer;
    z-index: 9999;
  }
  .mobmenuopen.active {
    background: url("../img/whiteClose.png");
    background-size: cover;
  }
}
/* 메인배너 */
.mainbanner {
  width: 100%;
  height: 495px;
  position: relative;
  display: block;
}
.mainSwiper {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  border-radius: 0px 0px 48px 48px;
  box-shadow: 80px 80px 128px rgb(0 0 0 / 10%);
  align-self: center;
  position: relative;
}
.main-slide {
  width: 100%;
  height: 100%;
}
.main-slide img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1440px) {
  .mainbanner {
    height: 32.36vw;
    width: 94vw !important;
    margin: 0 auto;
    align-self: center;
    border-radius: 0px 0px 48px 48px;
    box-shadow: 80px 80px 128px rgba(0, 0, 0, 0.095);
    overflow: hidden;
  }
}
@media (max-width: 744px) {
  .mainbanner {
    height: 44.9vw;
  }
  .main-slide img {
    width: 94vw;
    height: 44.9vw;
  }
}
/* 메인 공간 */
.main-view {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
  padding: 0 24px 0px 24px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  .main-view {
    max-width: 1088px;
  }
}
@media (max-width: 744px) {
  .main-view {
    max-width: 704px;
  }
}
/* 콘트롤러 */
.swiper-control {
  z-index: 99;
  width: 414px;
  height: 72px;
  position: relative;
  top: -36px;
  display: flex;
  border: 1px solid #ebebeb;
  align-items: center;
  padding: 0px 32px;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 54px;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 5%);
}
.controler {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.controler-btn {
  display: flex;
  gap: 40px;
}
.controler-btn li {
  cursor: pointer;
}
.controler-btn li:hover {
  color: #f9bb00;
}
.play {
  width: 10px;
}
.index {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025rem;
  width: 100%;
}
.index h2 {
  font-size: 15px;
}
.index-left {
  color: #f9bb00;
}
.controler .index .index-center {
  position: relative;
  height: 2px;
  background-color: #ebebeb;
  width: 165px;
}
.controler .index .index-center .swiper-pagination-progressbar-fill {
  background-color: #f9bb00;
}
.index-right {
  color: #999;
}
@media (max-width: 744px) {
  .swiper-control {
    top: 0;
    margin-top: 16px;
    width: 100%;
    height: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
    border: none;
    margin-bottom: 64px;
  }
  .controler-btn,
  .index-left,
  .index-right {
    display: none;
  }
  .controler .index .index-center {
    width: 100%;
  }
}
/* 이벤트 */
.event {
  position: relative;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  max-width: 100%;
}
.event-left {
  width: 301px;
  max-width: 301px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 32px;
  margin-bottom: 48px;
  justify-content: center;
  flex: 1;
}
.event-left-title {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.event-left-title h1 {
  color: #333333;
  display: flex;
  height: 45px;
  flex-direction: column;
  font-size: 45px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: 0;
}
.event-left-title-btn {
  height: 34px;
  display: flex;
}
.event-left-title-btn > a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.1s;
  cursor: pointer;
}
.event-left-title-btn > a > span {
  color: #333333;
  font-size: 15px;
  font-weight: 500;
}
.event-left-title-btn > a > img {
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  overflow: hidden;
  font-size: 1px;
}
.event-left-categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 16px;
  position: relative;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  color: #999999;
}
.categories-list {
  border-radius: 4px 4px 4px 24px;
  display: flex;
  height: 52px;
  padding-left: 16px;
  justify-content: center;
  position: relative;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  max-height: 52px;
  gap: 16px;
}
.categories-list h2 {
  font-size: 17px;
  max-height: 19px;
  width: 185px;
  display: flex;
  align-items: center;
}
.categories-list .fa-angle-right {
  color: #333;
}
.categories-list:hover {
  background-color: #f9bb00;
  margin-right: 5px;
}
.categories-list:hover h2 {
  color: white;
  transition: 0.3s;
}
.categories-list.active {
  color: white;
  background-color: #f9bb00;
  box-shadow: 0px 8px 24px rgba(249, 187, 0, 0.31);
}
.categories-list.active .fa-angle-right {
  color: white;
}
.event-right {
  width: 100%;
  flex: 1;
  flex-direction: column;
  display: flex;
  position: relative;
  gap: 32px;
}
.itemSwiper {
  width: calc(100% - 301px);
  height: 100%;
  margin: 0 !important;
}
.event-right .itemSwiper .item-slide {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}
.item-slide-detail {
  flex: 1;
  position: relative;
  transition: 0.1s;
  display: flex;
  padding-bottom: 16px;
  max-width: 100%;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.02);
  border-radius: 24px;
  border: 4px solid transparent;
  align-items: center;
  padding-top: 16px;
}
.item-slide-detail::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #ebebeb;
  z-index: 1;
  border-radius: 24px;
  top: 0;
  left: 0;
}
.item-slide-detail-badge {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0px 16px;
  margin-bottom: 16px;
}
.oneplus {
  border-radius: 8px 8px 8px 0px;
  border: 1px solid #f9bb00;
  background-color: #f9bb00;
  padding: 7px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneplus > h3 {
  font-size: 11px;
  font-weight: 300;
}
.item-slide-detail-img {
  max-width: 194px;
  max-height: 194px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.item-slide-detail-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}
.item-slide-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.item-slide-info h2 {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  max-height: 25.5px;
  line-height: 22.5px;
  text-align: center;
}
.item-slide-info h3 {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025rem;
  color: #f95a00;
}
.page {
  position: relative !important;
}
.event-right .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #c1c1c1;
}
.event-right .swiper-pagination-bullet-active {
  background-color: #f9bb00;
}

@media (max-width: 1440px) {
  .event {
    margin-bottom: 120px;
  }
  .event-left {
    max-width: 265px;
  }
  .event-left-title h1 {
    font-size: 38px;
  }
  .categories-list {
    padding: 12px 16px;
  }
}
@media (max-width: 744px) {
  .event {
    flex-direction: column;
    margin-bottom: 48px;
    gap: 12px;
  }
  .event-left {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    gap: 12px;
  }
  .event-left-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .event-left-title h1 {
    font-size: 18px;
    height: auto;
  }
  .event-left-title-btn {
    height: auto;
  }
  .event-left-title-btn > a {
    gap: 4px;
  }
  .event-left-title-btn > a > span {
    font-size: 10px;
    font-weight: 500;
    height: auto;
  }
  .event-left-title-btn > a > img {
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
  }
  .event-left-categories {
    flex-direction: row;
    padding-right: 0;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .categories-list {
    flex: 1;
    height: 100%;
    max-height: 102px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    flex-direction: row;
    border-radius: 16px;
    overflow: hidden;
    border: 0.5px solid #ebebeb;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 8px;
    justify-content: center;
    max-height: 40px;
    background-color: white;
  }
  .categories-list:hover {
    background-color: #f9bb00;
    margin-right: 0px;
  }
  .categories-list h2 {
    font-size: 12px;
    width: auto;
  }
  .categories-list > div:last-child {
    display: none;
  }
  .itemSwiper {
    width: 100%;
  }
  .event-right .itemSwiper .item-slide {
    gap: 12px;
  }
  .item-slide-detail {
    border: 2px solid transparent;
    border-radius: 16px;
    padding-top: 12px;
    max-height: 180px;
  }
  .item-slide-detail::after {
    border-radius: 16px;
  }
  .item-slide-detail-badge {
    padding: 0 12px;
    margin-bottom: 8px;
  }
  .oneplus {
    max-height: 20px;
  }
  .item-slide-info {
    gap: 4px;
  }
  .item-slide-info h2 {
    max-height: none;
    font-weight: 400;
  }
}
/* 카드배너 */
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}
.card-title-wrap {
  margin-bottom: 64px;
}
.card-title-wrap-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.description h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.description h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f9bb00;
}
.card-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  width: 100%;
  height: 500px;
  padding-top: 16px;
}
.pbswiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
.card-item .pbswiper .pb-slide {
  background-color: #fff;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 5%);
  border-radius: 24px;
  border: 1px solid #ebebeb;
  transition: 0.1s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card-item .pbswiper .pb-slide:hover {
  border: 4px solid #f9bb00;
  margin-bottom: -4.8px;
  transform: translatey(-3%);
}
.pb-slide .imgwrap {
  width: 100%;
  max-height: 317px;
  border-radius: 0 0 24px 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pb-slide .imgwrap > img {
  width: 100%;
  transition: 0.2s;
  height: 100%;
  object-fit: cover;
}
.pb-slide:hover .imgwrap > img {
  transform: scale(115%);
}
.imgdes {
  padding-top: 82px;
  padding-bottom: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  position: relative;
}
.pblogo {
  position: absolute;
  top: 0;
  height: 56px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pblogo img {
  position: absolute;
  max-width: 100px;
  max-height: 100%;
}
.imgdes h2 {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  font-weight: 500;
}
.imgdes p {
  min-height: 50px;
  max-height: 50px;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  text-align: center;
  font-weight: 400;
  color: #999999;
}
@media (max-width: 1440px) {
  .description h1 {
    font-size: 38px;
  }
}
@media (max-width: 744px) {
  .card {
    margin-bottom: 48px;
  }
  .card-title-wrap {
    margin-bottom: 12px;
    width: 100%;
  }
  .description h1 {
    font-size: 18px;
  }
  .description h2 {
    display: none;
  }
  .card-item {
    margin-bottom: 0;
    padding-top: 0;
  }
}

/* 창업 */
.create {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  height: 953px;
  justify-content: center;
  margin-bottom: 96px;
}
.create-background {
  position: absolute;
  width: 4092px;
  height: 953px;
  left: -6.666vw;
  opacity: 1;
  /* transform: translateX(10%); */
  transition: 0.9s;
  bottom: 0px;
  z-index: -1;
  background: linear-gradient(
    90deg,
    #fece6a 7.62%,
    rgba(254, 207, 106, 0.591) 1280px,
    #fff
  );
  border-radius: 64px 0px 0px 192px;
}
.create-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.create-title-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.create-title-box h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.create-title-box h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
.create-menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.create-menu li {
  transition: 0.2s;
  cursor: pointer;
  background-color: #fff;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 36px;
  max-height: 450px;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 5%);
  gap: 45px;
}
.create-menu li:hover {
  transform: translatey(-3%);
}
.create-menu-text {
  display: flex;
  flex-direction: row;
}
.create-menu-text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: black;
}
.create-menu-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.create-menu-title h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
.create-menu-title i {
  font-size: 40px;
}
.create-menu-text-box h2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
}
.create-menu-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
  align-self: center;
}
.create-menu-icon img {
  width: 100%;
}
@media (max-width: 1440px) {
  .create {
    margin-bottom: 70px;
    height: 748px;
  }
  .create-background {
    left: -6.666vw;
    height: 748px;
    border-radius: 32px 0px 0px 128px;
  }
  .create-title-box h1 {
    font-size: 38px;
  }
  .create-menu-title h1 {
    font-size: 24px;
  }
  .create-menu-title i {
    font-size: 36px;
  }
  .create-menu-text-box h2 {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 744px) {
  .create {
    padding-bottom: 24px;
    height: auto;
    padding-top: 24px;
    margin-bottom: 96px;
  }
  .create-background {
    height: 100%;
    width: 100vw;
    left: -20px;
    top: 0;
    border-radius: 0 0 0 0px;
    background: #ffebc1;
  }
  .create-title-box h1 {
    font-size: 18px;
  }
  .create-title-box h2 {
    display: none;
  }
  .create-menu {
    flex-direction: column;
  }
  .create-menu li {
    border-radius: 24px;
    min-width: 100%;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
  .create-menu-text {
    flex: 0;
    align-items: center;
  }
  .create-menu-text-box {
    gap: 8px;
  }
  .create-menu-title h1 {
    font-size: 16px;
  }
  .create-menu-title i {
    display: none;
  }
  .create-menu-text-box h2 {
    font-size: 14px;
    white-space: nowrap;
    color: #999;
  }
  .create-menu-icon {
    flex: 1;
    max-width: 154px;
    width: 100%;
  }
}
/* 매장찾기 */
.find {
  display: flex;
  flex-direction: row;
  gap: 124px;
  margin-bottom: 96px;
}
.find-titlewrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-titlewrap-title {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 733px;
  justify-content: center;
  gap: 64px;
}
.find-titlewrap-title > h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.find-search {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  position: relative;
}
.find-search-barwrap {
  min-height: 70px;
  border-radius: 8px 8px 8px 32px;
  display: flex;
  align-items: center;
  position: relative;
}
.find-search-bar {
  transition: 0.1s;
  box-sizing: border-box;
  outline: 2px solid #f9bb00;
  padding-left: 24px;
  border-radius: 8px 8px 8px 32px;
  border: 0px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  font-size: 24px;
  font-weight: 400;
  flex: 1;
}
.find-search-icon {
  cursor: pointer;
  width: 54px;
  height: 54px;
  font-size: 1px;
  overflow: hidden;
  z-index: 999;
  position: absolute;
  right: 24px;
}
.find-search-icon img {
  width: 100%;
}
.find-search-tag {
  padding-bottom: 16px;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  max-width: 100%;
  gap: 16px;
  display: flex;
}
.find-search-tag li {
  flex: 1;
  cursor: pointer;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 16px 0px 16px 16px;
  background-color: #ebebeb;
}
.find-search-tag li h3 {
  font-size: 17px;
  font-weight: 500;
  color: black;
}
.find-photo {
  max-width: 415px;
  flex: 1;
  height: 334px;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.mappaper {
  position: absolute;
  width: 415px;
  max-width: 415px;
  max-height: 334px;
  top: 32px;
}
.mappin {
  opacity: 1;
  transition: 0.5s;
  width: 100%;
  position: absolute;
  top: 0;
  max-height: 334px;
  max-width: 415px;
  z-index: 999;
  animation-name: pin;
  animation-duration: 0.6s;
  animation-duration: leaner;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes pin {
  0% {
    top: 0px;
  }
  100% {
    top: -5%;
  }
}
@media (max-width: 1440px) {
  .find {
    gap: 114px;
    margin-bottom: 70px;
  }
  .find-titlewrap-title > h1 {
    font-size: 38px;
  }
  .find-search-bar {
    font-size: 20px;
  }
}
@media (max-width: 744px) {
  .find {
    margin-bottom: 96px;
  }
  .find-titlewrap {
    width: 100%;
    padding-top: 24px;
  }
  .find-titlewrap {
    gap: 24px;
  }
  .find-titlewrap-title > h1 {
    font-size: 18px;
  }
  .find-search-barwrap {
    max-width: 100%;
    min-height: 48px;
  }
  .find-search-bar {
    border-radius: 16px;
    font-size: 14px;
    padding-left: 12px;
  }
  .find-photo {
    display: none;
  }
  .find-search-icon {
    width: 36px;
    height: 36px;
    right: 12px;
  }
  .find-search-tag li h3 {
    font-size: 15px;
  }
}
/* 편의점 */
.fun {
  display: flex;
  flex-direction: row;
  gap: 124px;
  position: relative;
  height: 972px;
  align-items: center;
  margin-bottom: 160px;
}
.fun-background {
  position: absolute;
  width: 4092px;
  height: 953px;
  right: -6.666vw;
  transition: 0.9s;
  bottom: 0px;
  z-index: -1;
  background: linear-gradient(
    270deg,
    #f2f2f2 5.25%,
    rgba(245, 244, 243, 0.45) 1280px,
    #fff
  );
  border-radius: 0px 256px 64px 0px;
  position: absolute;
}
.fun-photo {
  width: 100%;
  max-width: 625px;
  height: 716px;
}
.fun-photo img {
  object-fit: contain;
  width: 100%;
}
.fun-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fun-info-titlebox {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}
.fun-info-titlebox-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.fun-info-titlebox-title h2 {
  font-size: 20px;
  font-weight: 400;
  color: #f9bb00;
}
.fun-info-titlebox-title h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}
.fun-info-titlebox-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.1s;
  cursor: pointer;
}
.fun-info-titlebox-btn a {
  color: #333333;
  font-size: 15px;
  font-weight: 500;
}
.fun-info-titlebox-btn-icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  overflow: hidden;
  font-size: 1px;
}
.fun-info-titlebox-btn-icon img {
  width: 100%;
}
.fun-info-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.fun-info-link-btn {
  display: flex;
  gap: 16px;
}
.fun-info-link-btn > a {
  cursor: pointer;
  width: 196px;
  height: 58px;
  transition: 0.2s;
  padding: 8px 24px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #f9bb00;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 5%);
  gap: 8px;
}
.fun-info-link-btn-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  overflow: hidden;
  font-size: 1px;
}
.fun-info-link-btn-icon img {
  width: 100%;
}
.fun-info-link-btn h1 {
  font-size: 16px;
  font-weight: 400;
  color: black;
}
@media (max-width: 1440px) {
  .fun {
    height: 832px;
    margin-bottom: 160px;
  }
  .fun-background {
    height: 832px;
  }
  .fun-photo {
    max-width: 548px;
    height: 640px;
  }
}
@media (max-width: 744px) {
  .fun {
    height: auto;
    margin-bottom: 96px;
  }
  .fun-background {
    display: none;
  }
  .fun-photo {
    display: none;
  }
  .fun-info {
    background: #f3f3f3;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 16px;
    min-height: 156px;
    padding: 14px 14px;
    gap: 24px;
    align-items: flex-end;
  }
  .fun-info-titlebox {
    margin: 0;
    flex-direction: row;
    width: 100%;
    padding-left: 142px;
    align-items: flex-end;
    justify-content: center;
  }
  .fun-info-titlebox-title {
    justify-content: flex-start;
    gap: 8px;
  }
  .fun-info-titlebox-title h2 {
    display: none;
  }
  .fun-info-titlebox-title h1 {
    font-size: 18px;
    font-weight: 500;
  }
  .fun-info-titlebox-btn {
    display: none;
  }
  .fun-info-link {
    width: 100%;
  }
  .fun-info-link-btn {
    width: 100%;
    flex: 1;
    padding-left: 142px;
  }
  .fun-info-link-btn > a {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    height: 48px;
  }
  .fun-info-link span {
    display: none;
  }
  .fun::after {
    content: "";
    color: #999999;
    background: url("../img/fun.png") center no-repeat;
    background-size: 100%;
    position: absolute;
    left: 14px;
    height: 100%;
    bottom: 0;
    min-width: 128px;
    white-space: nowrap;
  }
}
/* 스토리 */
.story {
  display: flex;
  gap: 16px;
}
.story-titlewrap {
  width: 308px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
}
.story-titlewrap-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.story-titlewrap-title h1 {
  font-size: 48px;
  font-weight: 300;
}
.story-titlewrap-title h2 {
  font-size: 48px;
  font-weight: 700;
}
.story-titlewrap-title h3 {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f9bb00;
}
.story-titlewrap-link {
  display: flex;
  flex-direction: row;
}
.story-titlewrap-link li {
  width: 36px;
  height: 36px;
  overflow: hidden;
  font-size: 1px;
  cursor: pointer;
}
.story-titlewrap-link li img {
  width: 100%;
}
.story-titlewrap-link li:hover img {
  filter: brightness(0.7);
}
.storyswiper {
  display: flex !important;
  flex: 1;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 120px;
}
.story-leftbtn {
  width: 54px;
  height: 54px;
  font-size: 1px;
  overflow: hidden;
  border: 1px solid #999999;
  background-color: rgba(255, 255, 255, 0.66);
  border-radius: 100px;
  position: absolute;
  top: 35%;
  left: 16px;
  z-index: 99999999;
  transition: 0.1s;
  cursor: pointer;
}
.story-rightbtn {
  width: 54px;
  height: 54px;
  font-size: 1px;
  overflow: hidden;
  border: 1px solid #999999;
  background-color: rgba(255, 255, 255, 0.666);
  border-radius: 100px;
  position: absolute;
  top: 35%;
  right: 16px;
  z-index: 99999;
  transition: 0.1s;
  cursor: pointer;
}
.story-leftbtn img {
  width: 100%;
  transition: 0.1s;
  opacity: 1;
}
.story-rightbtn img {
  width: 100%;
  transition: 0.1s;
  opacity: 1;
  transform: rotate(180deg);
}
.story-sw {
  flex: 1;
  display: flex;
}
.story-slide {
  display: flex !important;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
  transition: 0.7s;
}
.story-slide-photo {
  transition: 0.1s;
  width: 100%;
  border: 4px solid transparent;
  height: 396px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 5%);
  overflow: hidden;
}
.story-slide:nth-child(1n) .story-slide-photo {
  border-radius: 48px 48px 48px 0;
}
.story-slide:nth-child(2n) .story-slide-photo {
  border-radius: 48px 48px 48px 48px;
  margin-top: 64px;
}
.story-slide:nth-child(3n) .story-slide-photo {
  border-radius: 48px 0px 48px 48px;
}
.story-slide:hover .story-slide-photo {
  border: 4px solid #f9bb00;
}
.story-slide-photo img {
  transition: 0.3s;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.story-slide:hover .story-slide-photo img {
  transform: scale(110%);
}
.story-slide-sns {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.story-slide-sns-icon {
  width: 48px;
  height: 48px;
  font-size: 1px;
  overflow: hidden;
  border-radius: 100px;
  border: 1px solid #ebebeb;
}
.story-slide:hover .story-slide-sns-icon {
  border-color: #f9bb00;
  background-color: #f9f9f9;
}
.story-slide-sns-icon img {
  width: 100%;
}
.story-slide-sns h2 {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
}
.story-slide-text {
  max-width: 80%;
  margin-top: 4px;
  padding-left: 56px;
  padding-right: 24px;
  max-width: 308px;
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025rem;
  width: 100%;
  padding-right: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  min-height: 39px;
  text-align: left;
}
.story-slide:hover .story-slide-sns h2,
.story-slide:hover .story-slide-text {
  transition: 0.1s;
  color: #f9bb00;
}
@media (max-width: 1440px) {
  .story-slide-photo {
    height: 335px;
  }
}
@media (max-width: 744px) {
  .story {
    flex-direction: column;
  }
  .story-titlewrap {
    padding-top: 0px;
  }
  .story-titlewrap-title {
    flex-direction: row;
  }
  .story-titlewrap-title h1 {
    font-size: 18px;
    white-space: nowrap;
    font-weight: 600;
  }
  .story-titlewrap-title h2 {
    font-size: 18px;
  }
  .story-titlewrap-title h3 {
    display: none;
  }
  .story-titlewrap-link {
    display: none;
  }
  .storyswiper {
    width: 100%;
    position: relative !important;
    margin-bottom: 56px;
  }
  .story-leftbtn,
  .story-rightbtn {
    display: none;
  }
  .story-slide {
    max-height: 64vw;
    gap: 14px;
  }
  .story-slide-photo {
    min-width: 100%;
    margin-top: 0px !important;
    border-radius: 24px !important;
    position: relative;
  }
  .story-slide-snswrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
  }
  .story-slide-sns {
    align-items: center;
    justify-content: center;
  }
  .story-slide-sns-icon {
    width: 24px;
    height: 24px;
    border: none;
  }
  .story-slide-sns h2 {
    font-size: 18px;
    padding-bottom: 4px;
  }
  .story-slide-text {
    font-size: 13px;
    padding-left: 0px;
    margin-top: -12px;
    width: 90%;
  }
}
/* 뉴스 */
.news {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 160px;
}
.news-table {
  flex: 1;
  padding: 32px 32px 40px 32px;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 5%);
  max-width: calc(50% - 8px);
}
.news-table-titlewrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}
.news-table-titlewrap h2 {
  font-size: 20px;
  word-spacing: -0.5%;
  font-weight: 500;
}
.news-table-titlewrap-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.1s;
  cursor: pointer;
}
.news-table-titlewrap-btn-text {
  color: #333333;
  font-size: 15px;
  font-weight: 500;
}
.news-table-titlewrap-btn-icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  overflow: hidden;
  font-size: 1px;
}
.news-table-titlewrap-btn-icon img {
  width: 100%;
}
.news-table-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.news-table-list a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  cursor: pointer;
  color: #999999;
}
.news-table-list a:hover {
  color: #f9bb00;
}
.news-table-list h2 {
  transition: 0.1s;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}
.news-table-list li a span {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025rem;
  line-height: 1;
}
@media (max-width: 1440px) {
}
@media (max-width: 744px) {
  .news {
    flex-direction: column;
    margin-bottom: 96px;
  }
  .news-table {
    padding: 16px 16px 24px 16px;
    border-radius: 16px;
    max-width: 100%;
  }
  .news-table-titlewrap h2 {
    font-size: 16px;
  }
  .news-table-titlewrap-btn {
    gap: 4px;
  }
  .news-table-titlewrap-btn-text {
    font-size: 12px;
  }
  .news-table-titlewrap-btn-icon {
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
  }
  .news-table-list h2 {
    font-size: 14px;
  }
  .news-table-list li a span {
    font-size: 14px;
  }
}
/* 푸터 */
.footer {
  width: 100%;
  height: 334px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerview {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
.fnbwrap {
  margin-top: 64px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fnb {
  display: flex;
  flex-direction: row;
}
.fnbmenu a {
  color: #333333;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.025rem;
}
.fnbmenu::after {
  content: "";
  display: inline-block;
  width: 0.5px;
  max-height: 8px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  height: 8px;
  border-right: 1px solid #999999;
  margin: 12px;
}
.fnbmenu:last-child::after {
  opacity: 0;
}
.family {
  font-size: 12px;
  cursor: pointer;
  font-weight: 300;
  color: #333;
}
.contentwrap {
  margin-bottom: 64px;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}
.contentwrap-company-title {
  color: #333333;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.025rem;
  margin-bottom: 36px;
}
.contentwrap-company-info {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.025rem;
  color: #999999;
}
.contentwrap-sns {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.025rem;
  color: #999999;
}
.contentwrap-sns-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  overflow: hidden;
  font-size: 1px;
  background-color: #fff;
  border-radius: 100px;
}
.contentwrap-sns-icon a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrap-sns-icon img {
  width: 100%;
}
@media (max-width: 1440px) {
  .footerview {
    max-width: 1112px;
  }
}
@media (max-width: 744px) {
  .footer {
    height: 473px;
  }
  .footerview {
    max-width: 704px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .fnbwrap {
    flex-direction: column;
  }
  .fnb {
    flex-direction: column;
    gap: 14px;
    margin-bottom: 14px;
  }
  .fnbmenu::after {
    display: none;
  }
}
