@charset "utf-8";
@import url("./font/font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
p,
label,
a {
  /* line-height: 1.5em; */
  word-break: keep-all;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f9fafb;
  height: auto;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 120px;
  line-height: 1;
}
/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  transition: all 0.1s ease 0s;
  transform: translateY(0px);
  width: 100%;
  height: 120px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  z-index: 99999;
}
.header.active {
  background: rgba(255, 255, 255, 0.5);
  transform: translateY(-28px);
}
.header-view {
  display: block;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 1440px) {
  .header-view {
    max-width: 1112px;
    margin: 0 auto;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.header-sub {
  padding: 8px 24px 8px 24px;
  width: 100%;
}
.header-sub-menu {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.025rem;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}
.header-sub-menu-list {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.header-sub-menu-list a {
  color: #999999;
}
.header-sub-menu-list:hover a {
  color: #f9bb00;
}

.header-main {
  position: relative;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-main-left {
  position: absolute;
}
.header-main-left a {
  max-width: 113px;
  cursor: pointer;
  max-height: 20px;
  overflow: hidden;
  display: flex;
  overflow: visible;
  align-items: center;
}
.header-main-left img {
  width: 100%;
}
.header-main-center {
  margin: 0 auto;
}
.gnb {
  font-size: 20px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
  display: flex;
  flex-direction: row;
  gap: 88px;
  height: 90px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}
.gnb > li > a {
  color: #333333;
  transition: all 0.2s;
}
.gnb > li:hover > a {
  color: #f9bb00;
}
@media (max-width: 1440px) {
  .gnb {
    font-size: 17px;
    font-weight: 500;
    gap: 56px;
  }
}
.lnbwrap {
  position: absolute;
  height: 0;
  top: 90px;
  transition: height 0.5s;
}
.gnb:hover .lnbwrap {
  display: block;
  backdrop-filter: blur(5px);
  transition: 0.2s;
  opacity: 1;
  width: 100vw;
  transform: scale(97%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999999;
  position: absolute;
  background: #4e5059dd;
  height: 228px;
  top: 90px;
}
.lnb {
  cursor: default;
  transition: 0.3s;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: 164px;
  z-index: 99999999;
  top: 112px;
}
.lnb li {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025rem;
  font-weight: 400;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lnb a {
  color: #ebebeb;
  transition: all 0.2s;
}
.lnb > li:hover > a {
  color: #f9bb00;
}
.gnb:hover .lnb {
  opacity: 1;
  max-height: 164px;
  overflow: visible;
  bottom: -188px;
}
/* 메인배너 */
.mainbanner {
  width: 100%;
  height: 495px;
  position: relative;
  display: block;
}
.mainSwiper {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  border-radius: 0px 0px 48px 48px;
  box-shadow: 80px 80px 128px rgb(0 0 0 / 10%);
  align-self: center;
  position: relative;
}
@media (max-width: 1440px) {
  .mainbanner {
    height: 32.36vw;
  }
  .mySwiper {
    width: 94vw;
  }
}
.main-slide {
  width: 100px;
  height: 100%;
}
.main-slide img {
  width: 100%;
}
/* 메인 공간 */
.main-view {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
  padding: 0 24px 334px 24px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  .main-view {
    max-width: 1088px;
    min-height: 100%;
    padding-bottom: 334px;
  }
}
/* 콘트롤러 */
.swiper-control {
  z-index: 99;
  width: 414px;
  height: 72px;
  position: relative;
  top: -36px;
  display: flex;
  border: 1px solid #ebebeb;
  align-items: center;
  padding: 0px 32px;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 54px;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 5%);
}
.controler {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.controler-btn {
  display: flex;
  gap: 40px;
}
.play {
  width: 10px;
}
.index {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025rem;
}
.index h2 {
  font-size: 15px;
}
.index-left {
  color: #f9bb00;
}
.index-center {
  position: relative !important;
  height: 2px !important;
  background-color: #ebebeb !important;
  width: 165px !important;
}
.swiper-pagination-progressbar-fill {
  background-color: #f9bb00 !important;
}
.index-right {
  color: #999;
}
/* 이벤트 */
.event {
  position: relative;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  max-width: 100%;
}
.event-left {
  width: 301px;
  max-width: 301px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 32px;
  margin-bottom: 48px;
  justify-content: center;
  flex: 1;
}
.event-left-title {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.event-left-title h1 {
  color: #333333;
  display: flex;
  height: 45px;
  flex-direction: column;
  font-size: 45px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: 0;
}
.event-left-title-btn {
  height: 34px;
  display: flex;
}
.event-left-title-btn > a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.1s;
  cursor: pointer;
}
.event-left-title-btn > a > span {
  color: #333333;
  font-size: 15px;
  font-weight: 500;
}
.event-left-title-btn > a > img {
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  overflow: hidden;
  font-size: 1px;
}
.event-left-categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 16px;
  position: relative;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  color: #999999;
}
.categories-list {
  border-radius: 4px 4px 4px 24px;
  display: flex;
  height: 52px;
  padding-left: 16px;
  justify-content: center;
  position: relative;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  max-height: 52px;
  gap: 16px;
}
.categories-list h2 {
  font-size: 17px;
  max-height: 19px;
  width: 185px;
  display: flex;
  align-items: center;
}
.categories-list .fa-angle-right {
  color: #333;
}
.categories-list:hover {
  background-color: #f9bb00;
  margin-right: 5px;
}
.categories-list:hover h2 {
  color: white;
  transition: 0.3s;
}
.categories-list.active {
  color: white;
  background-color: #f9bb00;
}
.categories-list.active .fa-angle-right {
  color: white;
}
.event-right {
  width: 100%;
  flex: 1;
  flex-direction: column;
  display: flex;
  position: relative;
}
.itemSwiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 913px;
  height: 100%;
}
.item-slide {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}
.page {
  position: absolute;
  bottom: -64px !important;
}
.event-right .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #c1c1c1;
}
.event-right .swiper-pagination-bullet-active {
  background-color: #f9bb00;
}
/* 카드배너 */
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}
.card-title-wrap {
  margin-bottom: 64px;
}
.card-title-wrap-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.description h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.description h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f9bb00;
}
.card-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  width: 100%;
  height: 500px;
  padding-top: 16px;
}
.pbswiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
.card-item .pbswiper .pb-slide {
  background-color: #fff;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 5%);
  border-radius: 24px;
  border: 1px solid #ebebeb;
  transition: 0.1s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card-item .pbswiper .pb-slide:hover {
  border: 4px solid #f9bb00;
  margin-bottom: -4.8px;
  transform: translatey(-3%);
}
.pb-slide .imgwrap {
  width: 100%;
  max-height: 317px;
  border-radius: 0 0 24px 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pb-slide .imgwrap > img {
  width: 100%;
  transition: 0.2s;
  height: 100%;
  object-fit: cover;
}
.pb-slide:hover .imgwrap > img {
  transform: scale(115%);
}
.imgdes {
  padding-top: 82px;
  padding-bottom: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  position: relative;
}
.pblogo {
  position: absolute;
  top: 0;
  height: 56px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pblogo img {
  position: absolute;
  max-width: 100px;
  max-height: 100%;
}
.imgdes h2 {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  font-weight: 500;
}
.imgdes p {
  min-height: 50px;
  max-height: 50px;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  text-align: center;
  font-weight: 400;
  color: #999999;
}
/* 창업 */
.create {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  height: 953px;
  justify-content: center;
  margin-bottom: 96px;
}
.create-background {
  position: absolute;
  width: 4092px;
  height: 953px;
  left: -6.666vw;
  opacity: 1;
  /* transform: translateX(10%); */
  transition: 0.9s;
  bottom: 0px;
  z-index: -1;
  background: linear-gradient(
    90deg,
    #fece6a 7.62%,
    rgba(254, 207, 106, 0.591) 1280px,
    #fff
  );
  border-radius: 64px 0px 0px 192px;
}
.create-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.create-title-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.create-title-box h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.create-title-box h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
.create-menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.create-menu li {
  transition: 0.2s;
  cursor: pointer;
  background-color: #fff;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 36px;
  max-height: 450px;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 5%);
  gap: 45px;
}
.create-menu li:hover {
  transform: translatey(-3%);
}
.create-menu-text {
  display: flex;
  flex-direction: row;
}
.create-menu-text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: black;
}
.create-menu-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.create-menu-title h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
.create-menu-title i {
  font-size: 40px;
}
.create-menu-text-box h2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
}
.create-menu-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
  align-self: center;
}
.create-menu-icon img {
  width: 100%;
}
